<div class="row">
    {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
                    <a href="{{ path('app_recipe_detail', {id: recipe.id}) }}" class="btn btn-primary btn-sm">Voir la recette</a>
                </div>
            </div>
        </div>
    {% else %}
        <p class="text-center">Aucune recette disponible.</p>
    {% endfor %}
</div>
